.env
.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

data/raw/
data/cache/
*.html
*.html.gz
*.db
*.sqlite
*.dump
*.sql.gz

*.ipynb
!tests/fixtures/**/*.html

.DS_Store
.history/
.vscode/
geckodriver.exe
reports/